---
const {name, url} = Astro.props
---

<a href=`https://${url}/`
   class="w-full ring-2 ring-slate-500 rounded-xl p-5 text-slate-500 hover:text-cream transition duration-300 hover:ring-cream text-center">{name}</a>

